<header>
  <div class="top-contents">
    <h1 class="office-name">
      塩冶敬 司法書士事務所
    </h1>
    <div class="contacts">
      <div class="text">お問い合わせ</div>
      <div class="tel">TEL 0852-27-3824</div>
      <div class="text">受付時間 9:00 〜 17:30（土日祝日除く）</div>
    </div>
  </div>
  <ul class="contents">
    <li><%= link_to "トップページ", sites_index_path, local: true %></li>
    <li><%= link_to "事務所紹介", sites_introduction_path, local: true %></li>
    <li><%= link_to "業務内容", "#" %>
      <ul class="duties-index">
        <li><%= link_to "不動産登記", sites_real_estate_path %></li>
        <li><%= link_to "商業登記", sites_commerce_path %></li>
        <li><%= link_to "相続", sites_inheritance_path %></li>
        <li><%= link_to "裁判関連", sites_lawsuit_path %></li>
        <li><%= link_to "債務整理", sites_liabilities_path %></li>
      </ul>
    </li>
    <li><%= link_to "料金表", "#" %></li>
    <li><%= link_to "アクセス", "#" %></li>
    <li><%= link_to "個人情報取り扱いについて", "#" %></li>
  </ul>
</header>