<%= render "shared/header" %>

<div class="frame">
  <div class="view">
    <%= image_tag "book.jpg", class: "top-image" %>
  </div>
  <h3>
    <div class="heading">
      お知らせ
    </div>
  </h3>
  <div class="all-information">
      <%= render partial: "information/information", collection: @information %>
  </div>
  <h3>
    <div class="heading">
      業務内容
    </div>
  </h3>
  <div class="duties-form">
    <div class="duty">
      <div class="title-box">
        <div class="duty-title">
          <%= link_to "不動産登記", sites_real_estate_path %>
        </div>
      </div>
      <div class="duty-descriptions">
        <div class="description">
          <div>マイホームを新築したけど、どんな手続きが必要なの？</div>
          <div>住宅ローンを払い終えた後はどうなるの？</div>
          <div>不動産を売買するときに必要な手続きは？</div>
        </div>
      </div>
    </div>
  </div>
  <div class="duties-form">
    <div class="duty">
      <div class="title-box">
        <div class="duty-title"><%= link_to "商業登記", sites_commerce_path %></div>
      </div>
      <div class="duty-descriptions">
        <div class="description">
          <div>新しく事業を始めたいけど、何を提出しないといけないの？</div>
          <div>本店を移転しようと計画しているんだけど…</div>
          <div>人事異動で役員が変更した</div>
        </div>
      </div>
    </div>
  </div>
  <div class="duties-form">
    <div class="duty">
      <div class="title-box">
        <div class="duty-title"><%= link_to "相続", sites_inheritance_path %></div>
      </div>
      <div class="duty-descriptions">
        <div class="description">
          <div>自分の死後に家族内で揉めないために遺言書をつくりたい</div>
          <div>不動産の相続手続きはどうしたらいいの？</div>
          <div>父親が他界した後に借金が発覚した！</div>
        </div>
      </div>
    </div>
  </div>
  <div class="duties-form">
    <div class="duty">
      <div class="title-box">
        <div class="duty-title"><%= link_to "裁判関連", sites_lawsuit_path %></div>
      </div>
      <div class="duty-descriptions">
        <div class="description">
          <div>アパートを貸しているが、家賃が滞納しているので立ち退いてもらいたい</div>
          <div>離婚をするが養育費のことが気がかり…</div>
          <div>友人にお金を貸したが返してくれない</div>
        </div>
      </div>
    </div>
  </div>
  <div class="duties-form">
    <div class="duty">
      <div class="title-box">
        <div class="duty-title"><%= link_to "債務整理", sites_liabilities_path %></div>
      </div>
      <div class="duty-descriptions">
        <div class="description">
          <div>過払い金返還請求をしたい</div>
          <div>借金を返済する目処が立たないので減額したい</div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>